.customRuleInput {
  width: 90%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  resize: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: #f4f4f4;
  transition: all 0.3s;
  margin-top: 0.5rem;
}

.globalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  flex-direction: column;
  gap: 50px;
}

.startButton {
  width: 90%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
  outline: none;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  transition: all 0.3s;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.resetButton {
  width: 90%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 1rem;
  outline: none;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #dc3545;
  cursor: pointer;
  transition: all 0.3s;
}

.displayedRule {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
  max-width: 90%;
}

.gameState {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
}